body {
    background-color: #145aa4;
    color: white;
    /* padding-bottom: 150px; */
    min-height: 100vh;
}

.header {
    background-color: rgb(247, 64, 64);
    color: white;
    padding: 25px;
}

#btn-holder {
    height: auto;
    width: 400px;
    margin: auto;
}

#btn-holder img {
    width: 100%;
    cursor: pointer;
}

iframe {
    min-height: 500px;
}
